:root {
  --surface: #1285bbf5;
  --primary: #fff;
  --secondary: #BDBFD2;
  --nav: #2c2c2c90;
  --surface-layout: #008bcc70;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*shape-rendering: crispEdges;*/
  background: linear-gradient(90deg, rgb(77, 184, 217) 5%, rgb(133, 206, 224) 50%, rgb(167, 199, 231) 85%);
  /*padding: 20px;*/
}

* {
  margin: 0;
  box-sizing: border-box;
}

p {
  text-align: left;
}

svg text {
  font-size: 24px;
  font-weight: bold;
  fill: var(--primary);
}

svg line {
  stroke: var(--primary);
}

svg, svg * {
  display: inline-block;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #1285bbf5;
}

nav {
  /*color: var(--surface);*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 16px 35px 14px 25px;
  /*margin: 10px 0 20px 0;*/
}

nav div {
  margin-right: auto;
  cursor: pointer;
}

nav > a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 14px 10px;
  border-radius: 5px;
  color: var(--primary);
}

.nav-sticky {

}

header nav > a.active {
  background-color: var(--primary);
  color: var(--surface)
}

nav > a:hover {
  background-color: var(--nav);
}

main {
  color: var(--primary);
  text-align: left;
}

main > div > div {
  background: linear-gradient(45deg,#008bcc,rgba(0,139,204,.738) 25%,rgba(0,139,204,.541) 40%,rgba(0,139,204,.46) 52%,rgba(0,139,204,.4) 60%,rgba(0,139,204,.34) 80%,rgba(0,139,204,.3) 81%,rgba(0,139,204,.25) 82%,rgba(0,139,204,.2));
  border-radius: 4px;
}

.pageHeading {
  padding: 12px 50px;
  font-size: 42px;
  margin-bottom: 32px;
  background: linear-gradient(45deg,#008bcc,rgba(0,139,204,.738) 19%,rgba(0,139,204,.541) 34%,rgba(0,139,204,.382) 47%,rgba(0,139,204,.278) 56.5%,rgba(0,139,204,.194) 65%,rgba(0,139,204,.126) 73%,rgba(0,139,204,.075) 80.2%,rgba(0,139,204,.042) 86.1%,rgba(0,139,204,.021) 91%,rgba(0,139,204,.008) 95.2%,rgba(0,139,204,.002) 98.2%,rgba(0,139,204,0));
}

.homeDesc {
  display: flex;
  /*align-items: center;*/
  gap: 50px;
  padding: 40px;
}

.homeDesc p {
  color: var(--primary);
  font-size: 24px;
  padding: 20px 100px 0 0;
}

.homeDesc .pageGreeting {
  color: var(--primary);
  font-size: 32px;
}

.content {
  padding: 40px;
}

.content p {
  padding: 10px;
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--primary);
}

.content strong {
  color: var(--primary);
  padding-right: 2px;
}

.ActivityLayout a {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.ActivityLayout nav {
  margin-top: 50px;
}

.ActivityLayout a:hover {
  color: var(--surface);
  background: var(--primary);
}

.ActivityLayout a.active {
  color: var(--surface);
  background: var(--primary);
}

.Activity .pageHeading {
  margin-bottom: 0;
}

.Notfound {
  text-align: left;
}

.Breadcrumbs{
  margin: 15px 30px 20px;
}

.Breadcrumbs .crumb {
  display: inline-block;
}

.crumb a {
  color: var(--primary);
  margin-right: 5px;
}

.crumb:last-child a {
  pointer-events: none;
  text-decoration: none;
  color: var(--primary);
  margin: 0;
}

.crumb:after {
  content: '>';
  color: var(--primary);
  margin-right: 5px;
}

.crumb:last-child:after {
  display: none;
}

.applyContent {
  padding: 40px;
  font-size: 20px;
  line-height: 2rem;
}

.ApplyForm {
  padding-top: 50px;
  text-align: left;
}

Form > p {
  padding-bottom: 20px;
}

Form > div {
  display: flex;
  padding: 6px;
}

.ApplyForm div > input {
  /*display: inline-block;*/
  display: block;
  padding: 4px;
  width: 300px;
}

.ApplyForm label {
  display: block;
  width: 300px;
}

.submit {
  padding: 5px;
  margin: 30px 5px 10px;
  cursor: pointer;
}

.error {
  color: red;
}

/*.videoBackground {*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  object-fit: cover;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: -1;*/
/*}*/

main {
  padding: 0 30px;
}

.loader {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 40px auto 10px;
  border-radius: 50%;
  background: var(--primary);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  max-width: 50vw;
  margin: 20vh auto;
  font-size: 16px;
  line-height: 1.5;
  background: #ddd;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
}
.modal button{
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.modal p{
  color: #444;
  font-weight: bold;
  margin-top: 10px;
}
