:root {
  --surface: #DFD6C8;
  --primary: #BB86FC;
  --secondary: #BDBFD2;
  --nav: #2c2c2c90;
  --surface-layout: #12121270;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  /*padding: 20px;*/
}

* {
  margin: 0;
  box-sizing: border-box;
}

p {
  text-align: left;
}

nav {
  color: var(--surface);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  /*margin: 10px 0 20px 0;*/
}

nav h1 {
  margin-right: auto;
  border-top: 3px solid var(--surface);
  border-bottom: 3px solid var(--surface);
  padding-bottom: 3px;
  cursor: pointer;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px 6px;
  color: var(--surface);
  border-radius: 5px;
}

header nav > a.active {
  background-color: var(--nav);
}

header nav > a:hover {
  background-color: var(--nav);
}

main {
  color: var(--primary);
  padding: 10px;
  text-align: center;
}

main > div > div {
  background-color: var(--surface-layout);
  border-radius: 4px;
}

.pageHeading {
  padding: 10px 30px;
  font-size: 42px;
  margin-bottom: 32px;
}

.homeDesc {
  display: flex;
  /*align-items: center;*/
  gap: 50px;
  padding: 40px;
}

.homeDesc p {
  color: var(--secondary);
  font-size: 24px;
  padding: 20px 100px 0 0;
}

.homeDesc .pageGreeting {
  color: var(--primary);
  font-size: 32px;
}

.content {
  padding: 30px;
}

.content p {
  padding: 10px;
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--secondary);
}

.content strong {
  color: var(--primary);
  padding-right: 2px;
}

.ActivityLayout a {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.ActivityLayout nav {
  margin-top: 50px;
}

.ActivityLayout a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.ActivityLayout a.active {
  color: var(--primary);
  border-color: var(--primary);
}

.AerialActivities .pageHeading, .Aquavities .pageHeading, .Groundivities .pageHeading {
  margin-bottom: 0;
}

.Notfound {
  text-align: left;
}

.Breadcrumbs{
  margin: 5px 10px;
}

.Breadcrumbs .crumb {
  display: inline-block;
}

.crumb a {
  color: var(--primary);
  margin-right: 5px;
}

.crumb:last-child a {
  pointer-events: none;
  text-decoration: none;
  color: var(--secondary);
  margin: 0;
}

.crumb:after {
  content: '>';
  color: var(--secondary);
  margin-right: 5px;
}

.crumb:last-child:after {
  display: none;
}

.applyContent {
  padding: 40px;
  font-size: 20px;
  line-height: 2rem;
}

.ApplyForm {
  padding-top: 50px;
  text-align: left;
}

Form > p {
  padding-bottom: 20px;
}

Form > div {
  display: flex;
  padding: 6px;
}

.ApplyForm div > input {
  /*display: inline-block;*/
  display: block;
  padding: 4px;
  width: 300px;
}

.ApplyForm label {
  display: block;
  width: 300px;
}

.submit {
  padding: 5px;
  margin: 30px 5px 10px;
  cursor: pointer;
}

.error {
  color: red;
}

.videoBackground {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-sticky {
  position: sticky;
  background-color: #121212f4;
  top: 0;
  left: 0;
}

main {
  padding: 0 20px;
}
