:root {
  --surface: #1285bbf5;
  --primary: #fff;
  --secondary: #BDBFD2;
  --nav: #2c2c2c90;
  --surface-layout: #008bcc70;
}

@font-face {
  font-family: Blanka;
  src: url("fonts/Blanka-Regular.otf") format("opentype");
}

@font-face {
  font-family: Beyno;
  src: url("fonts/BEYNO-Test-Regular.otf") format("opentype");
}

@font-face {
  font-family: Nasalization;
  src: url("fonts/nasalization-rg.otf") format("opentype");
}

@font-face {
  font-family: Strange;
  src: url("fonts/stange-stange-400.otf") format("opentype");
}

@font-face {
  font-family: Semox;
  src: url("fonts/semox-semox-400.otf") format("opentype");
}

@font-face {
  font-family: Due;
  src: url("fonts/due-form-due-form-svg-400.otf") format("opentype");
}


body {
  font-family: Nasalization, Beyno, Blanka, Due, Semox, Strange, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*shape-rendering: crispEdges;*/
  background: linear-gradient(90deg, rgb(59, 139, 210) 5%, rgb(72, 180, 213) 50%, rgb(167, 199, 231) 85%);
  /*padding: 20px;*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

p {
  text-align: left;
}

svg text {
  font-size: 20px;
  font-weight: bold;
  fill: var(--primary);
}

svg line {
  stroke: var(--primary);
  stroke-width: 2.5;
}

svg, svg * {
  display: inline-block;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  background: #061b2560;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 3px 35px 3px 25px;
}

nav div {
  margin-right: auto;
  cursor: pointer;
}

nav > a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 14px 9px;
  border-radius: 5px;
  color: var(--primary);
}

header nav > a.active {
  background-color: var(--primary);
  color: var(--surface)
}

nav > a:hover {
  background-color: var(--nav);
}

main {
  color: var(--primary);
  text-align: center;
}

main > div {
  padding: 0 30px;
}

/*main > div > div {*/
  /*background: linear-gradient(45deg,#008bcc,rgba(0,139,204,.738) 25%,rgba(0,139,204,.541) 40%,rgba(0,139,204,.46) 52%,rgba(0,139,204,.4) 60%,rgba(0,139,204,.34) 80%,rgba(0,139,204,.3) 81%,rgba(0,139,204,.25) 82%,rgba(0,139,204,.2));*/
  /*border-radius: 4px;*/
/*}*/

.pageHeading {
  padding: 12px 50px;
  font-size: 42px;
  margin-bottom: 32px;
  background: linear-gradient(0deg, #008bcc,rgba(0,139,204,.738) 19%,rgba(0,139,204,.541) 34%,rgba(0,139,204,.382) 47%,rgba(0,139,204,.278) 56.5%,rgba(0,139,204,.194) 65%,rgba(0,139,204,.126) 73%,rgba(0,139,204,.075) 80.2%,rgba(0,139,204,.042) 86.1%,rgba(0,139,204,.021) 91%,rgba(0,139,204,.008) 95.2%,rgba(0,139,204,.002) 98.2%,rgba(0,139,204,0));
}

.homeDesc {
  display: flex;
  /*align-items: center;*/
  gap: 50px;
  padding: 40px;
}

.homeDesc p {
  color: var(--primary);
  font-size: 24px;
  padding: 20px 100px 0 0;
}

.homeDesc .pageGreeting {
  color: var(--primary);
  font-size: 32px;
}

.content {
  padding: 40px;
}

.content p {
  padding: 10px;
  font-size: 18px;
  line-height: 1.6rem;
  color: var(--primary);
}

.content strong {
  color: var(--primary);
  padding-right: 2px;
}

.Activities {
  padding: 0;
}


.Activities nav {
  position: fixed;
  width: 100vw;
  top: 80px;
  left: 0;
  padding: 0;
  background: #0d5c8000;
  z-index: 1;
}

.Activities button {
  display: inline-block;
  font-family: Nasalization, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 5px;
  background: #44444480;
  cursor: pointer;
  border: transparent;
  color: var(--primary);
}

.Activities nav > button:hover {
  color: var(--surface);
  background: var(--primary);
}

.Activities nav > button.active {
  color: var(--surface);
  background: var(--primary);
}

.Activities .video {
  width: 100vw;
  height: 100vh;
  /*height: 772px;*/
  object-fit: cover;
}

.Activities div {
  display: block;
  position: relative;
}

.Activities .videoHeading {
  /*font-family: Blanka, serif;*/
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  font-size: 38px;
  text-align: left;
  padding: 50px;
  background: linear-gradient(0deg, #008bcc,rgba(0,139,204,.738) 28%,rgba(0,139,204,.541) 44%,rgba(0,139,204,.482) 57%,rgba(0,139,204,.378) 66.5%,rgba(0,139,204,.294) 75%,rgba(0,139,204,.226) 83%,rgba(0,139,204,.025));
}

.Activities img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.Activities .imgLayer {
  max-width: 71vw;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background: #0d2844a1;
  padding: 12vh;
}

.Activities .imgContent {
  display: grid;
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  bottom: 5vh;
  left: 3vw;
  max-width: 60vw;
  row-gap: 10px;
}

.Activities .imgContent:hover {
  transform: scale(1.03);
}

.Activities .imgHeading {
  /*font-family: Beyno, serif;*/
  /*position: absolute;*/
  /*bottom: 12vh;*/
  /*left: 3vw;*/
  font-size: 42px;
}

.Activities .imgDesc {
  /*position: absolute;*/
  /*bottom: 7vh;*/
  /*left: 3vw;*/
  /*grid-column: span 2;*/
  font-size: 22px;
}

.Activities .detailsButton {
  /*margin-left: 40px;*/
  /*left: 30vw;*/
  /*font-family: serif;*/
  font-size: 12px;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--surface);
  border: 2px solid var(--surface);
  border-radius: 4px;
  padding: 5px 10px;
}

.Activities .detailsButton:hover {
  background-color: #116b95;
  border-color: #116b95;
}

.Activities .loading {
  position: absolute;
  top: 20%;
  left: 49%;
}

.Notfound {
  text-align: left;
}

.Breadcrumbs{
  margin: 15px 30px 20px;
}

.Breadcrumbs .crumb {
  display: inline-block;
}

.crumb a {
  color: var(--primary);
  margin-right: 5px;
}

.crumb:last-child a {
  pointer-events: none;
  text-decoration: none;
  color: var(--primary);
  margin: 0;
}

.crumb:after {
  content: '>';
  color: var(--primary);
  margin-right: 5px;
}

.crumb:last-child:after {
  display: none;
}

.applyContent {
  padding: 40px;
  font-size: 20px;
  line-height: 2rem;
}

.ApplyForm {
  padding-top: 50px;
  text-align: left;
}

Form > p {
  padding-bottom: 20px;
}

Form > div {
  display: flex;
  padding: 6px;
}

.ApplyForm div > input {
  /*display: inline-block;*/
  display: block;
  padding: 4px;
  width: 300px;
}

.ApplyForm label {
  display: block;
  width: 300px;
}

.submit {
  padding: 5px;
  margin: 30px 5px 10px;
  cursor: pointer;
}

.error {
  color: red;
}

.loader {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 40px auto 10px;
  border-radius: 50%;
  background: var(--primary);
}

div.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

div.backdrop p {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 50vw;
  margin: 20vh auto;
  font-size: 16px;
  line-height: 1.5;
  background: #ddd;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  z-index: 3;
  /*transform-origin: 20px 20px;*/
}
.modal button{
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.modal p{
  color: #444;
  font-weight: bold;
  margin-top: 10px;
}

.modal img {
  width: 100%;
}

.swiper {
  border-radius: 12px;
  width: 100%;
  height: 500px;
  box-shadow: #00000060 0 0 20px;
}

.swiper-pagination {
  /*outline: solid 2px blue;*/
}

.swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bg_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: blur(6px);
  scale: 1.1;
}

.bg_aerial {
  background: no-repeat 100%/100% url("img/aerial_bg.jpg");
}

.bg_aqua {
  background: no-repeat 100%/100% url("img/aqua_bg.png");
}

.bg_land {
  background: no-repeat 100%/100% url("img/land_bg.jpg");
}


.SwiperContainer {
  padding: 130px 80px 72px;
}

.carouselTextLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00000070;
  padding: 82px 290px;
  border-top-right-radius: 16px;
  z-index: 2;
}

.carouselText {
  position: absolute;
  bottom: 100px;
  left: 44px;
  font-size: 32px;
  cursor: default;
  z-index: 2;
}

.carouselDesc {
  position: absolute;
  top: 410px;
  left: 44px;
  max-width: 500px;
  font-size: 18px;
  text-align: left;
  cursor: default;
  z-index: 2;
}

.tiltElements{
  display: flex;
  justify-content: flex-start;
  /*align-items: center;*/
  flex-wrap: wrap;
  margin-left: 80px;
  gap: 118px;
  z-index: 1;
  padding: 80px 0 100px;
}

.activityList {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: #00000060 0 0 20px;
}

.activityList img {
  height: 300px;
  width: 360px;
  border-radius: 20px;
  object-fit: cover;
}

.Activity .imgHeading {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #00000070;
  font-size: 18px;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Activity > h1 {
  position: relative;
  display: inline-block;
  margin: 80px 0 26px;
  /*border: solid 2px black;*/
  /*background: #00104f50;*/
  /*box-shadow: #00000060 0 0 10px;*/
  border-radius: 5px;
  padding: 6px 18px;
  font-size: 40px;
  z-index: 1;
}

.Activity .modal {
  max-width: 90vw;
  height: 88vh;
  margin: 6vh auto;
  padding: 45px 50px;
  overflow-y: scroll;
}

.Activity .modal .activityImg {
  height: 410px;
  border-radius: 10px;
  object-fit: cover;
}

.Activity .modal p {
  text-align: center;
}

.Activity .modalHeading {
  padding-top: 8px;
  font-size: 24px;
}

.Activity .loading {
  position: absolute;
  top: 40%;
  left: 49%;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 19px;
  cursor: pointer;
}

.closeButton img{
  height: 20px;
  width: 20px;
}

.Apply {
  padding: 0;
}

.Panes {
  display: flex;
  /*margin-top: 58px;*/
}

.Panes > div {
  position: relative;
  width: 100%;
}
.Panes img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Panes .imgLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 480px;
  height: 360px;
  border-radius: 12px;
  background: #00000080;
  z-index: 1;
}

.Panes .imgHeading {
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  font-size: 24px;
  z-index: 1;
}

.Panes .gifImage {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: transparent;
  font-size: 24px;
  z-index: 1;
}

.Panes .gifImage.spaceship {
  top: 360px;
  width: 100px;
  height: 100px;
}

/*.Panes .gifImage.yoda, .Panes .gifImage.mouse, .Panes .gifImage.still {*/
/*  display: none;*/
/*}*/

.Panes .rightPane {
  background: mintcream;
}

.rightPane form {
  color: black;
  width: fit-content;
  margin: 0 auto;
  padding-top: 200px;
  /*padding-left: 250px;*/
  text-align: left;
}

.rightPane label {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}

.rightPane input {
  display: block;
  padding: 6px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 30px;
}

.rightPane button.nextBut {
  width: 90px;
  margin-top: 15px;
  padding: 6px 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}